@font-face {
   font-family: 'Theaterv04_Bold';
   font-display: swap;
   src: url('file:///C:/Users/bulo/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-25_221435/fonts/Theaterv04_Bold/font.ttf');
}
